.perfil-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.02);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-wrap: wrap;
   
  }
   a{
text-decoration: none;
   }
  .logo {
    font-weight: bold;
    color: #6e2da8;
   
  }
   nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
     .botoes button {
    margin-left: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
   
  .anunciar {
    background-color: #6e2da8;
  }
   
  .entrar {
    background-color: #a259ff;
  }
   